<nav class="navbar">
    <h1 style="color: white;">TODO-MESH</h1>
    <div class="toggle-button" onclick="this.parentNode.classList.toggle('show')">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul>
      <li><a href="/todos">Personal tasks</a></li>
      <li><a href="/work">Work tasks</a></li>
    </ul>
</nav>



