body {
    margin: 1;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    border: 4px solid #333;
    width: 200px;
    height: 800vh;
    background-color: color-mix(in srgb, slategray 30%, black 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin-bottom: 30px;
  }
  
  .navbar li :hover {
    background-color: grey;
    border-radius: 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .toggle-button {
    display: none;
  }
  
  .main-content {
    margin-left: 220px;
    padding: 20px;
    width: 65vw;
  }
  
  /* .todo-header {
    margin-top: 0;
    text-align: center;
    color: #fff;
  } */
  .todo-header {
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-size: calc(20px + 2vw);
  }
  

  .todo-picture {
    width: 81vw;
  }
  
  .card {
    margin-left: 20px;
    background-color: color-mix(in srgb, slategray 50%, black 100%);
    padding: 5px;
    color: white;
    border: 4px solid color-mix(in srgb, slategray 50%, black 100%);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card .todo-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card .todo-actions {
    margin-top: 10px;
  }
  
  .update-button, .delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #333;
    color: #fff;
  }
  
  .delete-button {
    background-color: black;
    color: #fff;
  }
  
  
  .todopost {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .todopost input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    background-color: color-mix(in srgb, slategray 50%, black 100%);
  }
  
  .post-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: color-mix(in srgb, slategray 50%, black 100%);
    color: #fff;
    cursor: pointer;
  }
  
  .card.low {
    border-left: 5px solid green;
  }
  
  .card.medium {
    border-left: 5px solid yellow;
  }
  
  .card.high {
    border-left: 5px solid red;
  }
  
  .completed {
    text-decoration: line-through;
  }

  
  
  @media (max-width: 1024px) {
    .navbar {
      width: 150px;
      height: 800vh;
    }
    .main-content {
      margin-left: 180px;
    }
    .todo-picture {
        width: 80vw;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      position: fixed;
      top: 0;
      left: -200px;
      transition: left 0.5s;
      width: 200px;
      height: 200vh;
      /* background-color: color-mix(in srgb, slategray 50%, black 100%); */
    }

    .todo-header {
        font-size: calc(16px + 2vw);
      }
  
    .navbar.show {
      left: 0;
    }
  
    .toggle-button {
      display: block;
      position: absolute;
      top: 10px;
      right: 0px;
      background-color: color-mix(in srgb, slategray 50%, black 100%);
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0;
    }
  
    .main-content {
      margin-left: 25px;
      padding: 20px;
    }
  
    /* .todo-header {
      font-size: calc(18px + 1vw);
    } */
  
    .todo-picture {
      width: 100vw;
    }
  }
  
  @media (max-width: 425px) {
    /* .todo-header {
      font-size: calc(16px + 1vw);
    } */

    .todo-header {
        font-size: calc(14px + 2vw);
      }
    
  }
  
  @media (max-width: 320px) {
    .navbar {
        height: 800vh;
        background-color: color-mix(in srgb, slategray 50%, black 100%);
    }

    .todo-header {
        font-size: calc(12px + 2vw);
    }

    /* .todo-header {
      font-size: calc(14px + 1vw);
      margin-left: 70px;
    } */
    .todo-picture {
      width: 82vw;
    }
  }

  
  